@import 'assets/style.css';

h1{
    font-size:2em;
}
h2{
    font-size:1.5em;
}

.sponsor-images img {
    margin: 2em;
}

.guides.row {
    padding-top: 2em;
    padding-bottom: 2em;
    
}

.guide.column {
    padding-left: 2em;
    padding-right: 2em;
}

/* #under-construction {
    color: white;
    line-height:1.9em;
    padding:3em;
    height:350px;


} */

img{
    max-width:100%;
}

#banner{
    text-align:center;
}
#banner img{
    width: 250px;
}

#super-banner{
    height:40vh;
    position:relative;
    width:100%;
    margin-top:0px;
}
#super-banner h1{
    white-space: normal;
    font-size: 3.5rem;
    font-weight: bolder;
    max-width: 10em;
    margin-left: auto;
    margin-right: auto;
}

#super-banner .background-image{
    background-image:url("/assets/img/osms-surgeons.jpg");
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    z-index:-2;
}

#super-banner .background-dimmer{
    background-color:rgba(0,0,0,.3
    );

    position:absolute;
    top:0px;
    left:0px;
    bottom:0px;
    right:0px;
    z-index:-2;
}

#super-banner .text-overlay{
    color:white;
    position:relative;
    font-weight:bold;
    text-align:center;
    top:100%;
    transform:translate(0%, -100%);
    padding:2em;
}

#logo-schmidt {
    max-height: 6em;
}

#logo-tri {
    max-height: 3em;
}

#logo-resolve {
    max-height: 3em;
}


/* #under-construction,#intro-content,#intro-background-container{
    height:300px;
}

#under-construction{
    padding:0px;
    margin-top:3em;
    margin-bottom:3em;
}
#intro-background-container{
    position: absolute;
    left: 0px;
    right: 0px;
}

#intro-content{
    padding-top:5em;
    left: 0px;
    position:relative;
}

#intro-content p{
    -webkit-line-clamp: 6;
    max-lines: 3;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

#intro-background{
    background-image:url("/assets/img/collage.jpg");
    background-size:cover;
    background-repeat:no-repeat;
    background-position:center;
    overflow:hidden;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:-1;
}

#intro-fade{
    background-color:rgba(0, 0, 0,.8);
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index:-1;
} */


#guides h1{
    text-align:center;
}

section{
    margin-top:2em;
}

.spacer{
    padding-top: 100px;
}

.h1-background{
    position: absolute;
    left: 0px;
    right: 0px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;
    background-image:linear-gradient(to right, rgba(247, 149,76,1), rgba(244, 126,78,1));
}
.h1-blue-background{
    position: absolute;
    left: 0px;
    right: 0px;
    padding-top: .5em;
    padding-bottom: .5em;
    margin-bottom: 2em;
    background-image:linear-gradient(to right, rgba(125, 162,255,1), rgba(39, 96,255,1));
}

.has-inverted-header h1{
    color:white;
}

#footer{
    padding-top:3em;
    padding-bottom:2em;
    text-align:center;

}
#footer>li{
    display:inline-block;
    margin-left:1em;
    margin-right:1em;
}

.osms-link {
    color: #ff5821;
}
.osms-link:hover {
    opacity: 0.5;
    text-decoration: underline;
}