<html>
    <head>
        {% include imports-css.html %}
        <!-- {% include imports-js.html %} -->
    </head>

    <body>
        {% include header.html %}
        {% include breadcrumb.html crumbs=page.crumbs %}
        {{ content }}
    <script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script><script src="/assets/app.bundle.js"></script></body>
</html>